* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  color: #fff; }

body {
  background-color: #000;
  min-height: 100vh;
  position: relative; }
  body > article {
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; }
  body article:target, body article:has(*:target), body article:last-of-type {
    display: flex; }
  body article, body article:target ~ article:last-of-type, body article:has(*:target) ~ article:last-of-type {
    display: none; }

html {
  font-size: calc(100vw / 172.8); }

.container {
  display: flex; }
  .container--col {
    flex-direction: column; }
  .container--fs {
    min-height: 100vh; }
  .container--sb {
    justify-content: space-between; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
.p-e_n {
  pointer-events: none; }

.fix_height {
  height: 114.65em; }

.op40 {
  opacity: 40%; }

.fw400 {
  font-weight: 400; }

.fz48 {
  font-size: 4.8rem; }

.dn {
  display: none; }

.photo_link {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  z-index: 11; }
  .photo_link::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #000;
    opacity: 0; }
  .photo_link_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .photo_link_wrapper h3 {
      font-family: "Serifiqo4FRegular", serif;
      font-weight: 400;
      font-size: 4.8rem;
      text-transform: uppercase;
      z-index: 2; }
    .photo_link_wrapper p {
      z-index: 2;
      text-align: center;
      font-weight: 300;
      font-size: 2rem;
      width: 13.3rem;
      border-top: 1px solid #fff; }

.story .photo_link {
  align-items: end; }
  .story .photo_link_wrapper {
    margin-bottom: 5.3rem;
    width: 41.2rem; }

body .navigation {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  right: 0;
  background-color: #000; }
  body .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.9rem;
    padding: 1.9rem 0 1rem;
    width: 96rem; }
    body .navigation__list_item {
      text-decoration: none;
      font-size: 4rem;
      line-height: 1.2;
      font-weight: 300;
      color: #FEF5E2;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .navigation__list_item, body .navigation__list_item path {
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all; }
      body .navigation__list_item:first-child {
        display: none; }
      body .navigation__list_item:not(:first-child) {
        margin-top: -.95rem; }
      body .navigation__list_item:hover {
        color: #F8C259; }
        body .navigation__list_item:hover:first-child svg path {
          fill: #F8C259;
          fill-opacity: 1; }
body:has(article:not(#main__page):target) .navigation, body:has(article#story *:target) .navigation {
  left: 0; }
  body:has(article:not(#main__page):target) .navigation__list, body:has(article#story *:target) .navigation__list {
    width: 100vw; }
    body:has(article:not(#main__page):target) .navigation__list_item:first-child, body:has(article#story *:target) .navigation__list_item:first-child {
      display: block; }

.header {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .header .container {
    width: 81.7rem;
    gap: 9rem; }
    .header .container .backspace a {
      display: block;
      height: 4.8rem;
      width: 6.3rem;
      background-image: url("../img/modules/header/arrows.svg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }

body .footer {
  position: absolute;
  bottom: -32rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.8rem; }
  body .footer path {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all; }
  body .footer .scrollback {
    cursor: pointer; }
    body .footer .scrollback:hover svg path {
      fill: #8F0000; }
  body .footer .social_icons__list {
    list-style-type: none;
    display: flex;
    gap: 6.56rem; }
    body .footer .social_icons__list_item a {
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: 0.1s all;
      -o-transition: 0.1s all;
      -moz-transition: 0.1s all;
      transition: 0.1s all; }
      body .footer .social_icons__list_item a:hover svg path {
        fill: #F8C259;
        fill-opacity: 1; }
body:has(article:not(#main__page):target) .footer {
  bottom: 0; }
  body:has(article:not(#main__page):target) .footer .scrollback {
    display: none; }
body:has(article#publication:target) .footer {
  display: none; }

@keyframes dummyAnimation {
  0% {
    opacity: 48%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 48%; } }
@keyframes opUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main_header {
  position: relative;
  z-index: 5;
  overflow: hidden;
  margin-bottom: .6rem; }
  .main_header__title-wrapper {
    z-index: 10;
    position: absolute;
    width: calc(100vw + 13.3rem);
    -webkit-transform: translateY(-45.7rem) translateX(-15rem);
    -ms-transform: translateY(-45.7rem) translateX(-15rem);
    transform: translateY(-45.7rem) translateX(-15rem); }
  .main_header__title {
    font-family: "Serifiqo4FRegular", serif;
    text-transform: uppercase;
    font-size: 60rem; }
  .main_header__left_column {
    width: 75.9rem;
    background-image: url("../img/main_page_img/main_header/girl_in_helm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .main_header__left_column:hover {
      cursor: pointer; }
      .main_header__left_column:hover .photo_link {
        opacity: 100%; }
        .main_header__left_column:hover .photo_link::before {
          opacity: 20%; }
  .main_header__right_column {
    width: 97.2rem; }
  .main_header__author_wrapper {
    display: flex;
    height: 102.9rem;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 4.8rem; }

.first_page {
  position: relative;
  margin-bottom: 31.9rem; }
  .first_page .container {
    justify-content: space-between; }
  .first_page__left_column {
    width: 121.92rem; }
    .first_page__left_column__img_wrapper {
      background-image: url("../img/main_page_img/first_page/moon.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: calc(100vw / 2.278);
      height: calc(100vw / 1.56); }
      .first_page__left_column__img_wrapper:hover {
        cursor: pointer; }
        .first_page__left_column__img_wrapper:hover .photo_link {
          opacity: 100%; }
          .first_page__left_column__img_wrapper:hover .photo_link::before {
            opacity: 20%; }
    .first_page__left_column__text_wrapper {
      padding-left: 5.3rem;
      padding-top: 6.7rem;
      margin-bottom: -13rem; }
      .first_page__left_column__text_wrapper p {
        font-weight: 300;
        font-size: 4rem;
        line-height: 1.22; }
  .first_page__right_column {
    margin-left: -10.16rem; }
    .first_page__right_column__img_wrapper {
      background-image: url("../img/main_page_img/first_page/statue.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: calc(100vw / 2.278);
      height: calc(100vw / 1.56);
      margin-left: 19.7rem;
      margin-bottom: 7.7rem; }
      .first_page__right_column__img_wrapper:hover {
        cursor: pointer; }
        .first_page__right_column__img_wrapper:hover .photo_link {
          opacity: 100%; }
          .first_page__right_column__img_wrapper:hover .photo_link::before {
            opacity: 20%; }
    .first_page__right_column__text_wrapper {
      margin-right: 4.5rem; }
      .first_page__right_column__text_wrapper p {
        text-align: right;
        font-weight: 300;
        font-size: 3.8rem; }
  .first_page__text {
    position: absolute;
    padding-right: 4.5rem;
    -webkit-transform: translateY(-35rem);
    -ms-transform: translateY(-35rem);
    transform: translateY(-35rem); }
    .first_page__text p {
      text-align: right;
      font-weight: 300;
      font-size: 3.8rem; }
      .first_page__text p span {
        font-family: "Serifiqo4FRegular", serif;
        font-size: 20rem; }

.second_page {
  position: relative; }
  .second_page__left_column {
    width: 99.9rem; }
    .second_page__left_column__img_wrapper {
      position: relative;
      z-index: 3;
      height: 142.3rem;
      background-image: url("../img/main_page_img/second_page/profile.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .second_page__left_column__img_wrapper:hover {
        cursor: pointer; }
        .second_page__left_column__img_wrapper:hover .photo_link {
          opacity: 100%; }
          .second_page__left_column__img_wrapper:hover .photo_link::before {
            opacity: 20%; }
    .second_page__left_column__text_wrapper {
      position: relative;
      z-index: 3;
      padding-left: 5.2rem;
      padding-top: 14.3rem;
      margin-bottom: 34.5rem; }
      .second_page__left_column__text_wrapper p {
        font-weight: 300;
        font-size: 4rem;
        line-height: 1.22; }
  .second_page__right_column {
    width: 99.9rem;
    margin-left: -22.2rem; }
    .second_page__right_column__img_wrapper {
      position: relative;
      z-index: 2;
      height: 149.4rem;
      background-image: url("../img/main_page_img/second_page/window.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .second_page__right_column__img_wrapper:hover {
        cursor: pointer; }
        .second_page__right_column__img_wrapper:hover .photo_link {
          opacity: 100%; }
          .second_page__right_column__img_wrapper:hover .photo_link::before {
            opacity: 20%; }

.third_page {
  margin-bottom: 5.1rem; }
  .third_page .dummy {
    font-family: "Serifiqo4FRegular", serif;
    font-size: 12.8rem;
    color: #FEF5E2;
    opacity: 48%;
    padding-left: 6.3rem; }
    .third_page .dummy span {
      position: relative;
      opacity: 48%;
      animation: dummyAnimation 2s linear infinite;
      animation-delay: calc(.1s*var(--i)); }

#contacts .contacts {
  display: flex;
  justify-content: center; }
  #contacts .contacts-wrapper {
    position: relative;
    display: flex; }
    #contacts .contacts-wrapper:hover .contacts__info {
      opacity: 100%;
      -webkit-transform: translateX(-30rem);
      -ms-transform: translateX(-30rem);
      transform: translateX(-30rem); }
    #contacts .contacts-wrapper:hover .contacts__photo {
      width: 68rem; }
      #contacts .contacts-wrapper:hover .contacts__photo_wrapper {
        border-radius: 15%;
        -webkit-transform: translateX(30rem);
        -ms-transform: translateX(30rem);
        transform: translateX(30rem); }
  #contacts .contacts__info {
    width: 57.6rem;
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all; }
    #contacts .contacts__info_title {
      font-family: "Serifiqo4FRegular", serif;
      font-size: 12.8rem;
      margin-bottom: 5.8rem; }
    #contacts .contacts__info_text {
      font-weight: 200;
      font-size: 3.2rem;
      line-height: 1.25; }
  #contacts .contacts__photo {
    position: relative;
    z-index: 5;
    width: 53rem;
    height: 53rem;
    background-image: url("../img/contacts_img/Anastasiya.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all; }
    #contacts .contacts__photo_wrapper {
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      transition: 0.5s all;
      border-radius: 50%;
      overflow: hidden; }

#story .main {
  position: relative; }
  #story .main .stories {
    overflow: hidden;
    margin: 3rem 0 3rem; }
    #story .main .stories_wrapper {
      position: relative;
      display: flex;
      gap: 5rem;
      justify-content: center;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      transition: 0.5s all;
      margin-top: 5rem; }
      #story .main .stories_wrapper:has(.story:first-child:hover) {
        transform: translateX(21.2rem); }
      #story .main .stories_wrapper:has(.story:last-child:hover) {
        -webkit-transform: translateX(-21.2rem);
        -ms-transform: translateX(-21.2rem);
        transform: translateX(-21.2rem); }
    #story .main .stories .story {
      min-width: 50rem;
      height: 63rem;
      border-radius: 2%; }
    #story .main .stories #scary_beautiful {
      background-image: url("../img/stories/scary_beautiful.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #story .main .stories #scary_beautiful:hover {
        cursor: pointer; }
        #story .main .stories #scary_beautiful:hover .photo_link {
          opacity: 100%; }
          #story .main .stories #scary_beautiful:hover .photo_link::before {
            opacity: 20%; }
    #story .main .stories #muse {
      background-image: url("../img/stories/muse.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #story .main .stories #muse:hover {
        cursor: pointer; }
        #story .main .stories #muse:hover .photo_link {
          opacity: 100%; }
          #story .main .stories #muse:hover .photo_link::before {
            opacity: 20%; }
    #story .main .stories #main_character {
      background-image: url("../img/stories/main_character.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #story .main .stories #main_character:hover {
        cursor: pointer; }
        #story .main .stories #main_character:hover .photo_link {
          opacity: 100%; }
          #story .main .stories #main_character:hover .photo_link::before {
            opacity: 20%; }
    #story .main .stories #red_apple {
      background-image: url("../img/stories/red_apple.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      #story .main .stories #red_apple:hover {
        cursor: pointer; }
        #story .main .stories #red_apple:hover .photo_link {
          opacity: 100%; }
          #story .main .stories #red_apple:hover .photo_link::before {
            opacity: 20%; }
  #story .main .album {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 10rem; }
    #story .main .album__header {
      margin: 10rem 0 4.4rem;
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: center;
      flex-wrap: no-wrap;
      gap: 10rem; }
      #story .main .album__header_title {
        font-family: "Serifiqo4FRegular", serif;
        font-size: 12.8rem; }
      #story .main .album__header_img {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100vw;
        height: 66rem; }
    #story .main .album#album__scary_beautiful .album__header_img {
      background-image: url("../../img/stories/scary_beautiful/scary_beautiful.jpg"); }
    #story .main .album#album__muse .album__header_img {
      background-image: url("../../img/stories/muse/muse.jpg"); }
    #story .main .album#album__main_character .album__header_img {
      background-image: url("../../img/stories/main_character/main_character.jpg"); }
    #story .main .album#album__red_apple .album__header_img {
      background-image: url("../../img/stories/red_apple/red_apple.jpg"); }
    #story .main .album__photo_list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: auto;
      flex-wrap: wrap;
      row-gap: 5rem;
      padding-bottom: 2rem;
      animation: opUp 1s linear; }
      #story .main .album__photo_list_item {
        -webkit-transition: 0.3s transform;
        -o-transition: 0.3s transform;
        -moz-transition: 0.3s transform;
        transition: 0.3s transform; }
        #story .main .album__photo_list_item img {
          width: 54rem;
          height: 80rem;
          border-radius: .5rem; }
        #story .main .album__photo_list_item:hover {
          cursor: pointer;
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02); }
    #story .main .album__params {
      position: absolute;
      bottom: -20rem;
      left: 3rem; }
      #story .main .album__params p {
        font-size: 2.4rem;
        text-transform: capitalize; }
  #story .main:has(.album:target) .stories {
    display: none; }
  #story .main .album:target {
    display: flex; }

body #publication {
  position: relative;
  background-image: url("../img/public_img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body #publication .publication {
    position: absolute;
    left: 5rem;
    bottom: 10rem; }
    body #publication .publication__header {
      text-align: center;
      font-family: "Serifiqo4FRegular", serif; }
    body #publication .publication__title {
      font-size: 12.8rem;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.01; }
    body #publication .publication__subtitle {
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.2; }

@font-face {
  font-family: "Serifiqo4FRegular";
  src: url("../fonts/Serifiqo4FRegular.woff"); }

/*# sourceMappingURL=output.css.map */
