.container {
  display: flex;
  &--col{
    flex-direction: column;
  }
  &--fs{
    min-height: 100vh;
  }
  &--sb{
    justify-content: space-between;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.p-e_n {
  pointer-events: none;
}

.fix_height {
  height: 114.65em;
}

.op40 {
  opacity: 40%;
}

.fw400 {
  font-weight: 400;
}

.fz48 {
  font-size: $f48;
}
.dn{
  display: none;
}