@mixin background($url : '') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($delay, $property) {
  -webkit-transition: $delay $property;
  -o-transition: $delay $property;
  -moz-transition: $delay $property;
  transition: $delay $property;
}

@mixin bgPhotoLink($url) {
  @include background($url);

  &:hover {
    cursor: pointer;

    .photo_link {
      opacity: 100%;

      &::before {
        opacity: 20%;
      }
    }
  }
}

@mixin display($display, $direction : auto, $content : auto, $align : auto, $wrap: no-wrap){
  display: $display;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
  flex-wrap: $wrap;
}