$f600: 60rem;
$f200: 20rem;
$f128: 12.8rem;
$f48: 4.8rem;
$f40: 4rem;
$f38: 3.8rem;
$f32: 3.2rem;
$f20: 2rem;


$color-default: #FEF5E2;
$color-hover: #F8C259;


$headers-font: "Serifiqo4FRegular", serif;