.first_page {
  position: relative;
  margin-bottom: 31.9rem;

  .container {
    justify-content: space-between;
  }

  &__left_column {
    width: 121.92rem;

    &__img_wrapper {
      @include bgPhotoLink("../img/main_page_img/first_page/moon.jpg");
      width: calc(100vw / 2.278);
      height: calc(100vw / 1.56);
    }

    &__text_wrapper {
      padding-left: 5.3rem;
      padding-top: 6.7rem;
      margin-bottom: -13rem;

      p {
        font-weight: 300;
        font-size: $f40;
        line-height: 1.22;
      }
    }
  }

  &__right_column {
    margin-left: -10.16rem;

    &__img_wrapper {
      @include bgPhotoLink("../img/main_page_img/first_page/statue.jpg");
      width: calc(100vw / 2.278);
      height: calc(100vw / 1.56);
      margin-left: 19.7rem;
      margin-bottom: 7.7rem;
    }

    &__text_wrapper {
      margin-right: 4.5rem;

      p {
        text-align: right;
        font-weight: 300;
        font-size: $f38;
      }
    }
  }

  &__text {
    position: absolute;
    padding-right: 4.5rem;
    @include transform(translateY(-35rem));

    p {
      text-align: right;
      font-weight: 300;
      font-size: $f38;

      span {
        font-family: $headers-font;
        font-size: $f200;
      }
    }
  }
}