.third_page {
    margin-bottom: 5.1rem;

    .dummy {
        font-family: $headers-font;
        font-size: $f128;
        color: $color-default;
        opacity: 48%;
        padding-left: 6.3rem;

        span {
            position: relative;
            opacity: 48%;
            animation: dummyAnimation 2s linear infinite;
            animation-delay: calc(.1s*var(--i));
        }
    }
}