.header{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .container{
    width: 81.7rem;
    gap: 9rem;
    .backspace{
      a {
        display: block;
        height: 4.8rem;
        width: 6.3rem;
        @include background('../img/modules/header/arrows.svg');
      }
    }
  }

}