.stories {
  overflow: hidden;
  margin: 3rem 0 3rem;
  display: none;

  &--active {
    display: block;
  }

  &_wrapper {
    position: relative;
    display: flex;
    gap: 5rem;
    justify-content: center;
    @include transition(.5s, all);
  }

  .story {
    min-width: 50rem;
    height: 65rem;
    border-radius: 2%;
  }

  #scary_beautiful {
    @include bgPhotoLink("../img/stories/scary_beautiful.jpg");
  }

  #muse {
    @include bgPhotoLink("../img/stories/muse.jpg");
  }

  #main_character {
    @include bgPhotoLink("../img/stories/main_character.jpg");
  }

  #red_apple {
    @include bgPhotoLink("../img/stories/red_apple.jpg");
  }
}

.album {
  display: none;

  &--active {
    @include display(flex, column, center, center);
  }

  overflow-x: hidden;
  margin-bottom: 10rem;

  &__header {
    margin: 10rem 0 4.4rem;
    @include display(flex, column, auto, center);
    gap: 10rem;

    &_title {
      font-family: $headers-font;
      font-size: $f128;
    }

    &_img {
      @include background();
      width: 100vw;
      height: 66rem;
    }
  }

  &__photo_list {
    @include display(flex, row, space-between, auto, wrap);
    row-gap: 5rem;
    padding-bottom: 2rem;
    animation: opUp 1s linear;

    &_item {
      //@include background();
      @include transition(.3s, transform);
      img{
        width: 54rem;
        height: 80rem;
      }

      &:hover {
        cursor: pointer;
        @include transform(scale(1.05));
      }
    }
  }
}